{% extends "layout/main.html" %}

{% block title %}- Account{% endblock %}
{% block body %}
    <div class="main container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>Your Account</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="{{ url_for('main.account') }}">Account</a></li>
                    <li><a href="{{ url_for('main.account_orders') }}">Orders</a></li>
                    <li><a href="{{ url_for('main.account_templates') }}">Templates</a></li>
                </ul>
            </div>

            <div class="col-md-9">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Won Auctions</h4>
                    </div>
                    <div class="panel-body">
                        {% if won_bids|length > 0 %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td><strong>Service</strong></td>
                                    <td><strong>Seller</strong></td>
                                    <td><strong>Amount</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bid in won_bids %}
                                    <tr>
                                        <td><a href="{{ url_for('items.single_service', item_id=bid.item_id) }}">{{ bid.name }}</a></td>
                                        <td>
                                            <a href="{{ url_for('main.user_profile', username=bid.username) }}">{{ bid.username }}</a>
                                        </td>
                                        <td>{{ currency_format(bid.amount) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            No won bids
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Bidding</h4>
                    </div>
                    <div class="panel-body">
                        {% if users_bid_services|length > 0 %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><strong>Service</strong></td>
                                    <td><strong>End date</strong></td>
                                    <td><strong>Your Bid</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for service in users_bid_services %}
                                    <tr>
                                        <td><a href="{{ url_for('items.single_service', item_id=service.item_id) }}">{{ service.name }}</a></td>
                                        <td>{{ time_format(service.end_date) }}</td>
                                        <td>{{ currency_format(service.amount) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            No current bids
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}