{% extends "layout/main.html" %}
{% block title %}- Account{% endblock %}
{% block body %}
    <div class="main container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>Your Templates</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ url_for('main.account') }}">Account</a></li>
                    <li><a href="{{ url_for('main.account_orders') }}">Orders</a></li>
                    <li class="active"><a href="{{ url_for('main.account_templates') }}">Templates</a></li>
                </ul>
            </div>

            <div class="col-md-9">
                {% if items|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td><strong># of Sales</strong></td>
                                <td><strong>Total Revenue</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td><a href="{{ url_for('items.single_template', item_id=item.item_id) }}">{{ item.name }}</a></td>
                                        <td>{{ item.sales }}</td>
                                        <td>{{ currency_format(item.revenue|default(0, true)) }}</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info">
                        No templates
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}