
<div class="header main">
    <div class="container">
        <div class="nav row">
            <div class="logo col-md-3">
                <a href="/">templatesand.moe</a>
            </div>
            <div class="col-md-7 col-md-offset-2">
                <ul class="pull-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/templates">Templates</a></li>
                    <li><a href="/services">Services</a></li>

                    {% if session.username %}

                        <li class="selllink dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sell <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/sell/template">Template</a></li>
                                <li><a href="/sell/service">Service</a></li>
                            </ul>
                        </li>
                        <li class="userlink">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ session.username }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {% if session.get('permission') > 0 %}
                                        <li><a href="/admin">Dashboard</a></li>
                                    {% endif %}
                                    <li><a href="/account">Account</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/logout">Log out</a></li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li><a href="/register">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>